/* src/index.css */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define the animation */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Apply the animation to each navbar item */
.nav-item {
  opacity: 0; /* Start hidden */
  animation: fadeInUp 0.5s ease forwards; /* Apply animation */
  animation-delay: var(--delay); /* Stagger animation based on delay */
}


/* styles.css */

.scroll-button-container {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  
  .scroll-button {
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  .scroll-button .icon {
    display: block;
    width: 24px;
    height: 24px;
    margin: 5px 0;
  }
  
